/* Untuk Tablet */
@media all and (max-width: 1000px) {
    /*Mengubah ukuran anggota tim menjadi 33%, sehingga dalam 1 baris terdiri dari 3 foto anggota*/
    .team {
      width: 33%;
      margin-bottom: 50px;
    }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    /*Mengubah ukuran anggota tim menjadi 100%, sehingga dalam 1 baris terdiri dari 1 foto anggota*/
    .team {
      width: 100%;
    }

}
